{% extends 'layout.html' %}{% block content %}
<div class="row justify-content-center"><div class="col-md-5">
<h3>Connexion</h3>
<form method="post">
  <div class="mb-2"><label class="form-label">Email</label><input name="email" class="form-control" required></div>
  <div class="mb-3"><label class="form-label">Mot de passe</label><input type="password" name="password" class="form-control" required></div>
  <button class="btn btn-primary">Se connecter</button>
  <a class="btn btn-link" href="{{ url_for('register') }}">Créer un compte</a>
</form>
</div></div>
{% endblock %}
